conda/
venv/
frontend/src/shared_data/conversations
frontend/src/shared_data/character_info
frontend/src/shared_data/character_images
frontend/src/shared_data/exports
backend/.config
frontend/src/shared_data/advanced_characters/
