conda/
venv/
frontend/src/shared_data/conversations
frontend/src/shared_data/character_info
frontend/src/shared_data/character_images
frontend/src/shared_data/exports
backend/.config
frontend/src/shared_data/advanced_characters/
frontend/uploads/
frontend/public/discord/discordBot.json
frontend/public/discord/discordBot.json
frontend/public/discord/discordBot.json
