.discord-button {
  background-color: var(--selected-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 1em;
  width: 6rem;
  border: none;
  outline: none;
  color: var(--selected-text-color);
  word-wrap: normal;
  justify-content: center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.discord-button-confirm {
  background-color: green;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 2rem;
  outline: none;
  width: auto;
}

.discord-button:hover {
  background-color: rgb(6, 136, 168);
}

.discord-button-on {
  background-color: green;
}

.discord-logo {
  color: #7289DA;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 640px) {
  .settings-panel {
    flex-direction: column;
    padding: 2rem;
  }
  .settings-box {
    flex-direction: column;
    height: 1rem;
  }
  .discord-logo {
    font-size: 4rem;
  }
}


.settings-panel {
  display: flex;
  align-items: stretch;
}

.settings-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.settings-box .input-group {
  display: flex;
  align-items: center;
}

.settings-box input[type="text"] {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 2rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1.2rem;
}

.settings-box input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.settings-box input[type="text"]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.settings-box input[type="text"]:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.settings-box input[type="password"] {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1.2rem;
}


.settings-box input[type="password"]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.settings-box input[type="password"]:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.channels-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}


.channels-box input[type="text"] {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1.2rem;
}

.channels-box input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.channels-box input[type="text"]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.channels-box input[type="text"]:active {
  background-color: rgba(255, 255, 255, 0.4);
}



.settings-panel {
  /* your styles */
  position: relative;
}

.save-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
}

.save-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}



@media (max-width: 640px) {
  .settings-panel {
    flex-direction: column;
    padding: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .settings-box {

  } 
  .discord-logo {
    font-size: 4rem;
  }
}



.input-group button {
  margin-left: 1rem;
}
