.nav {
    width: 40%;
    background-color: rgba(11, 11, 11, 0.636);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    justify-content: center;
    margin: auto;
    display: flex;
    gap: 10%;   
}

#nav-button {
    background-color: transparent;
    border-radius: 10px;
    padding: 15px;
    width: 30rem;
    border: none;
    outline: none;
    color: white;
    word-wrap: normal;
    justify-content: center;
    cursor: pointer;
}

#nav-button:hover {
    background-color: rgba(11, 11, 11, 0.636);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

/* For tablets and smaller devices */
@media only screen and (min-width: 401px) and (max-width: 896px) {
    .nav {
		border-radius: 0;
        width: 100%;
        gap: 5%;
    }
    #nav-button {
        width: 50%;
    }
}

/* For mobile devices */
@media only screen and (max-width: 400px) {
    .nav {
		border-radius: 0;
        width: 100%;
        align-items: center;
        gap: 5%;
    }

    #nav-button {
        width: 50%;
    }
}
