.endpoint-select {
	background-color: rgba(11, 11, 11, 0.636);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 20px;
	color: white;
	width: 30%;
  }

.endpoint-select input{
	display: flex;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
	background-color: rgba(11, 11, 11, 0.737);
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(57, 57, 57, 0.737);
	backdrop-filter: blur(10px);
}

.connect-button{
	margin-top: 15px;
	background-color: rgba(11, 11, 11, 0.737);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 10px;
	width: min-content;
	border: none;
	outline: none;
	color: white;
	word-wrap: normal;
	justify-content: center;
	height: auto;
	cursor: pointer;
}
.connect-button:hover {
    background-color: rgb(6, 136, 168);
}