.settings-panel {
	margin-top: 3%;
	display: flex;
	background-color: rgba(11, 11, 11, 0.636);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 1%;
	color: white;
	margin-left: 5%;
	margin-right: 5%;
	gap: 3%;
  }

#endpoint-container {
	color: black;
}

.gen-settings-menu {
	margin-top: 15px;
	display: flex;
	flex-direction: row-reverse;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	background-color: rgba(11, 11, 11, 0.636);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 20px;
	color: white;
}
.gen-settings-header {
	width: fit-content;
	margin: 2% auto;
	color: white;
}
.settings-panel-header {
	width: fit-content;
	margin: 2% auto;
	background-color: rgba(11, 11, 11, 0.636);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 1%;
	color: white;
}
.settings-panel h1{
	position: absolute; /* add position property */
	z-index: 2; /* add z-index property */
	top: 10px;
	left: 10px;
	right: 10px;
	text-align: center;
	color: white;
	font-size: 24px;
	text-shadow: 0 0 5px black;
}
.settings-box {
	background-color: none;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	padding: 1%;
	color: white;
	justify-content: center;
	width: 30%;
  }

.settings-box-input{
	display: flex;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
	background-color: rgba(11, 11, 11, 0.737);
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(57, 57, 57, 0.737);
	backdrop-filter: blur(10px);
}

.connect-button{
	margin-top: 15px;
	background-color: rgba(11, 11, 11, 0.737);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 10px;
	width: min-content;
	border: none;
	outline: none;
	color: white;
	word-wrap: normal;
	justify-content: center;
	height: auto;
	cursor: pointer;
}
.connect-button:hover {
    background-color: rgb(6, 136, 168);
}

/* For tablets and smaller devices */
@media only screen and (min-width: 401px) and (max-width: 896px) {
	.settings-panel {
		flex-direction: row;
		margin-top: 3%;
		border-radius: 0;
		padding: 1%;
		margin-left: 0;
		margin-right: 0;
	  }
	  .settings-box {
		margin-top: 5rem;
		border-radius: 10px;
		padding: 1%;
		width: 100%;
	  }
}

/* For mobile devices */
@media only screen and (max-width: 400px) {
	.settings-panel {
		flex-direction: row;
		margin-top: 3%;
		border-radius: 0;
		padding: 1%;
		margin-left: 0;
		margin-right: 0;
	  }
	  .settings-box {
		margin-top: 5rem;
		border-radius: 10px;
		padding: 1%;
		width: 100%;
	  }
}